<div class="container prefooter">
	<img class="img-responsive" href="#" src="http://res.cloudinary.com/lawless/image/upload/v1499071949/amegan/logo_footer.png" alt="header-logo">
	<p class="fontB">Contact: <span>info@mywebsite.com</span></p>
</div>


<div class="footer">
		<p>Legal Cookie Statement &nbsp;|&nbsp; Developed by me</p>
</div>