<%= render 'partials/carrusel' %>
<div class="container body">	
	<div class="row">
		<div class="col-xs-3"></div>
			<div class="row">
				<div class="col-xs-6">				
					<img class="img-responsive" href="#" src="http://res.cloudinary.com/lawless/image/upload/v1499071949/amegan/logo_pholosophy.png" alt="header-logo">
					<h1 class="fontA">OUR <span>PHILOSOPHY</span></h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ex earum atque aliquam fuga cumque officiis obcaecati ipsum quas eius sit ut quis accusantium inventore debitis porro ullam, excepturi deserunt!</p>
					<div class="col-xs-12 col-md-4">
						<img class="img-responsive" href="#" src="http://res.cloudinary.com/lawless/image/upload/v1499071947/amegan/circulo_philosophy_1.png" alt="compromise">
						<p>Compromise</p>
					</div>
					<div class="col-xs-12 col-md-4">
						<img class="img-responsive" href="#" src="http://res.cloudinary.com/lawless/image/upload/v1499071947/amegan/circulo_philosophy_2.png" alt="seaching">
						<p>Searching value projects</p>
					</div>
					<div class="col-xs-12 col-md-4">
						<img class="img-responsive" href="#" src="http://res.cloudinary.com/lawless/image/upload/v1499071947/amegan/circulo_philosophy_3.png" alt="helping">
						<p>Helping people grow up</p>
					</div>
				</div>
			</div><!-- END row -->
		</div><!-- END col-xs-6 -->
		<div class="col-xs-3 hidden-xs"></div>		
	</div><!-- END row -->
</div><!-- END container body -->