<div class="row">
	<div class="container-fluid secrets">
		<img id="inv" class="img-responsive" href="#" src="http://res.cloudinary.com/lawless/image/upload/v1499071949/amegan/investment_focus_cabecera.jpg" alt="investment">	
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<div class="row row-eq-height investment">
					<div class="col-xs-2">
						<img class="img-responsive pull-left" href="#" src="http://res.cloudinary.com/lawless/image/upload/v1499071948/amegan/key_left.png" alt="key_left">
					</div>
					<div class="col-xs-8">
						<h2 class="fontA">INVESTMENT <span>FOCUS</span></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium debitis illum expedita magnam ea doloribus cum nobis similique asperiores veritatis numquam sint iusto ipsa, qui, in officiis, at sapiente odio.</p>
					</div>				
					<div class="col-xs-2">
						<img class="img-responsive pull-right" href="#" src="http://res.cloudinary.com/lawless/image/upload/v1499071948/amegan/key_right.png" alt="key_right">
					</div>
				</div>
				<% cont = 1 %>
				<%@secrets.each do |s| %>
					<% if cont%2 == 0 %>
						<div class="row row-eq-height secrets">	
							<div class="col-xs-8 line">
								<p class=""><%= s.text %></p>
							</div>										
							<div class="col-xs-4">
								<img class="img-responsive center-block" src="<%= s.image %>" alt="secrets">
							</div>																		
						</div>
					<% else %>
						<div class="row row-eq-height secrets">											
							<div class="col-xs-4">
								<img class="img-responsive center-block" src="<%= s.image %>" alt="secrets">
							</div>
							<div class="col-xs-8 line">
								<p class=""><%= s.text %></p>
							</div>											
						</div>
					<% end %>					
					<br><br>
					<% cont = cont + 1 %>
				<% end %>
			</div>
			<div class="col-xs-2"></div>
		</div>
	</div>
</div>


