/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_directory .
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';

$lato: 'Lato', sans-serif;

//pre footer				<<<<<<<<Change font type 
$c-textA: #0D3989;
$c-textB: #919191;

// footer
$c-footer: #063D9A;
$white: #fff;


h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 2vmin;
}

.fontA{	
	font-family: 'Open Sans', sans-serif;
	letter-spacing: -1px;
	font-weight: bold;
	font-size: 250%;
}
.fontB{	
	font-family: 'Open Sans', sans-serif;
	letter-spacing: -1px;
	font-weight: bold;
	font-size: 150%;
}


.navbar{
	background-color: $white !important;
	border: none;
	.navbar-header{
		#logo-header{
			margin-top: 20px;

		}
	}
	#navbar{
		text-align: center;
		ul{
			margin-top: 40px;
			li{
				font-size: 16px;
				border-right: 2px solid #437ddb;
				a{
					padding-top: 0;
					padding-bottom: 0;
				}
			}
			li:last-child{
				border-right: none;
			} 
		}
	}
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}


.prefooter{
	text-align: center;
	font-weight: bold;
	margin-bottom: 60px;
	margin-top: 120px;
	img{
		margin: 0 auto;
	}
	p{
		margin-top: 20px;
		color: $c-textA;
		span{
			color: $c-textB;
		}
	}
}

.footer{
	text-align: center;
	background: $c-footer;
	padding-top: 15px;
	padding-bottom: 5px;
	p{
		color: $white;
	}		
}