// Place all the styles related to the Secrets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.secrets{
	#inv{
		width: 100%;
		margin-bottom: 60px;
	}
	.investment{
		text-align: center;
		margin-bottom: 60px;
		img{
			height: 100%;
		}
		h2{
			color: #5d6266;
			span{
				color: #063D9A;
			}
		}
		p{
			font-style: italic;
		}
	}
	.secrets{
		margin: 10px;
		.line{
			border-left: 2px solid #437ddb;
			margin: auto auto;
		}
	}
	.row-eq-height {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	}
}
